<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" (click)="navbarCollapsed = true">DBL Logo</a>
  <button [hidden]="navbarCollapsed" type="button" class="btn btn-primary">Params</button>
  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="navbarCollapsed = true">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navbarCollapsed = true">Tâches</a>
      </li>
    </ul>
  </div>
  <button style="line-height: 0.5" [hidden]="!navbarCollapsed" type="button" class="btn btn-light ml-3"><i class="material-icons">settings</i></button>
</nav>
