<div style="margin: -4px -18px -8px -20px;">
  <div class="modal-header">
    <h5 class="modal-title">Nouvelle tâche</h5>
    <button style="outline: none" type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" style="margin: 20px 0px 20px 0px;">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="name">
      </div>
    </div>
    <div class="row" style="margin: 20px 0px 20px 0px;">
      <div class="col">
        <textarea placeholder="Description" class="form-control" id="exampleFormControlTextarea1" rows="5" [(ngModel)]="description"></textarea>
      </div>
    </div>
    <div class="row" style="margin: 20px 0px 20px 0px;">
      <div class="col">
        <input placeholder="Categorie..." id="typeahead-basic" type="text" class="form-control" [(ngModel)]="category" [ngbTypeahead]="search"/>
      </div>
      <div class="col">
        <div class="form-group">
          <div class="input-group">
            <input [matDatepicker]="myDatepicker" class="form-control" placement="top" placeholder="dd/MM/yyyy" [(ngModel)]="end_date">
              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-outline-primary-custom" (click)="createTask()">Save changes</button>
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Close</button>
  </div>
</div>
