<div [ngClass]='screenSizeClass' class="h-100 sidebar" id="sidebar-div">
  <div class="topbar">
    <div [ngClass]='screenSizeClass' style="flex-grow: 1" id="logo-div">
      <img  style="height: 35px; margin-left: 10px;" src="assets/images/logo.png">
    </div>
    <button type="button" class="btn btn-transparent" style="color:white; display: inline-flex; margin: auto;" (click)="toggleSizeBar()"><i class="material-icons">menu</i></button>
  </div>
  <div id="user-panel">
    <img src="assets/images/user.png" class="rounded-circle" style="height:40px;">
    <span [ngClass]='screenSizeClass' style="margin-left: 7px; color:white">User</span>
    <button [ngClass]='screenSizeClass' type="button" class="btn btn-transparent hidden-small"><i class="material-icons">more_vert</i></button>
  </div>
  <div style="flex-grow: 1;">
    <ul class="sidebar-items">
      <li routerLinkActive="active"><a routerLink="/home"><i class="material-icons">home</i><span [ngClass]='screenSizeClass'>Accueil</span></a></li>
      <li routerLinkActive="active"><a routerLink="#"><i class="material-icons">alarm</i><span [ngClass]='screenSizeClass'>Ajouts récents</span></a></li>
      <li routerLinkActive="active"><a routerLink="#"><i class="material-icons">folder</i><span  [ngClass]='screenSizeClass'>Catégories</span></a></li>
      <li routerLinkActive="active"><a routerLink="/all"><i class="material-icons">done_all</i><span  [ngClass]='screenSizeClass'>Toutes les tâches</span></a></li>
    </ul>
  </div>
  <div style="margin: 20px; text-align: right;">
    <button type="button" class="btn btn-transparent" id="settings-button"><i class="material-icons">settings</i></button>
  </div>
</div>
