ul {
  list-style: none;
  padding: 0;
}

li {
  color: #d0d0d0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
}

li.active{
  background-color: #17415a;
  color: white;
}

li:not(.active):hover{
  background-color: #416c86;
  color: white;
}

a{
  color: inherit;
}

a:hover{
  text-decoration:none;
}

span.bar-small {
  display: none !important;
  visibility: hidden;
  opacity : 0;
}

#logo-div.bar-small {
  display: none !important;
  visibility: hidden;
  opacity : 0;
}

.hidden-small.bar-small {
  display: none !important;
  visibility: hidden;
  opacity : 0;
}

#sidebar-div.bar-small {
  width: 62px !important;
}
