<div class="topbar" style="background-color: #d6d6d6;">
  <img style="height: 35px; margin-left: 5px;" src="assets/images/logo.png">
  <button type="button" class="btn btn-transparent" style="color:white; display: inline-flex;"><i class="material-icons">menu</i></button>
</div>
<div style="padding: 20px 10px 20px 15px; border-bottom: 2px solid #7d7d7d; border-top: 2px solid #7d7d7d;">
  <img src="assets/images/user.png" class="rounded-circle" style="height:40px; margin-right: 7px">
  <span style="color:white">User</span>
  <button type="button" class="btn btn-transparent" style="color:white; display: inline-flex; padding-right: 0px; padding-left: 0px; float: right"><i class="material-icons">more_vert</i></button>
</div>
<div>

</div>
