ul {
  list-style: none;
  padding: 0;
}

li {
  color: #d0d0d0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
}

li.active{
  background-color: #17415a;
  color: white;
}

li:not(.active):hover{
  background-color: #416c86;
  color: white;
}

a{
  color: inherit;
}

a:hover{
  text-decoration:none;
}
