/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~roboto-fontface/css/roboto/roboto-fontface.css';


.topbar {
  height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
}

/* Style the list */
ul.custbreadcrumb {
  margin: auto 0 auto 0;
}

/* Display list items side by side */
ul.custbreadcrumb li {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  color: #bdbdbd;
}

/* Add a slash symbol (/) before/behind each list item */
ul.custbreadcrumb li:after {
  padding: 8px;
  padding-left: 12px;
  color: #bdbdbd;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.custbreadcrumb li a {
  color: #0275d8;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

/* Add a color on mouse-over */
ul.custbreadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.btn-transparent{
  background-color: unset;
  border:none;
}

.btn-transparent:focus,.btn-transparent:active {
  outline: none !important;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(23, 65, 90, 0.2);
}
