/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';

/*Media queries*/

@media(max-width:767px){
  .sidebar {
    flex: 0 0 50px;
  }
}

@media(min-width:768px){
  .sidebar {
    flex: 0 0 200px;
  }
}

.topbar {
  height: 50px;
  display: flex;
  align-items: center;
}
