<div class="container-fluid" style="padding: 15px 30px 15px 30px; overflow: auto; max-height: calc(100% - 50px);">
  <div style="display: flex; flex-direction: column; margin: 15px 0px 30px 0px">
    <div style="height: 130px;width: 130px;margin-right: auto;margin-left: auto;margin-bottom: 10px;display: block;border: 2px dotted #dedede;border-radius: 70px;padding: 10px;">
      <div style="height: 100%;width: 100%; background-color: #008db7;border-radius: 57px;padding: 10px;box-shadow: 0 0 2px 0 #008db7;">
        <img style="height: 90%; display: block; margin: auto; padding-top: 8px" src="assets/images/logo_small.png"  alt="Card image cap">
      </div>
    </div>

  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-sm-3">
      <div class="card col-sm-12" style="padding: 0px">
        <div class="card-body">
          <h1 class="card-title">12</h1>
          <p class="card-text">Tâches actives</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card col-sm-12" style="padding: 0px">
        <div class="card-body">
          <h1 class="card-title">6</h1>
          <p class="card-text">Tâches les 30 prochains jours</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card col-sm-12" style="padding: 0px">
        <div class="card-body">
          <h1 class="card-title">0</h1>
          <p class="card-text">Tâches en retard</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card col-sm-12" style="padding: 0px">
        <div class="card-body">
          <h1 class="card-title">452</h1>
          <p class="card-text">Tâches complétées</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0px">
    <button type="button" class="btn col-sm btn-outline-primary btn-outline-primary-custom" (click)="openTaskDialog()"><i class="material-icons" style="vertical-align: middle; margin-right: 10px; font-size: 22px;">add_circle_outline</i><span style="vertical-align: middle; font-size: 15px;">Nouvelle tâche...</span></button>
  </div>
  <div class="row" style="margin: 15px 0px 30px 0px">
    <div class="card col-sm" style="padding: 0px">
      <div class="card-body">
        <h5 class="card-title">Tâches urgentes</h5>
        <div style="display: flex; flex-wrap: wrap; margin: 30px -15px -15px -15px">
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
          <app-progress-bar title="Titre de la tâche" desc="Description" completion="52" duration="3"></app-progress-bar>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 15px 0px 30px 0px">
    <div class="card col-sm" style="padding: 0px">
      <div class="card-body">
        <h5 class="card-title">Histogramme des tâches</h5>
        <p class="card-text">Ici, un graph</p>
      </div>
    </div>
  </div>
</div>

